In [1]:
import sys
from pathlib import Path
import pandas as pd

# Add src folder to path
sys.path.append(str(Path.cwd().parent / "src"))

from db_connection import fetch_table_as_df, list_tables

In [2]:
DB_PATH = "../data/raw/clustering.db"

In [3]:
tables = list_tables(DB_PATH)
tables

['tripadvisor_reviews',
 'supermarket_data',
 'ecommerce_behavior',
 'online_retail_customers',
 'amazon_book_reviews']

In [4]:
df = fetch_table_as_df(DB_PATH, "ecommerce_behavior")
df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2020-04-01 00:00:00 UTC,view,1201465,2232732101407408685,apparel.shoes.slipons,samsung,230.38,568984877,e2456cef-2d4f-42b9-a53a-8893cb0c6851
1,2020-04-01 00:00:01 UTC,view,1307156,2053013554658804075,electronics.audio.headphone,apple,1352.67,514955500,38f43134-de83-4710-ae0a-326677d292c6
2,2020-04-01 00:00:01 UTC,view,1480477,2053013563835941749,appliances.kitchen.refrigerators,apple,1184.05,633645770,16aba270-b3c2-4b23-be0a-b7c80bc9da9e
3,2020-04-01 00:00:02 UTC,view,1307050,2053013554658804075,electronics.audio.headphone,apple,1724.34,564933778,05b443bd-e68a-4d72-b971-80bd31109cb8
4,2020-04-01 00:00:03 UTC,view,9500109,2232732104175649385,apparel.scarf,defender,25.05,530206135,e3c1fb4b-0a7e-457d-a0cf-5d1479e9aafc

In [5]:
df.shape

(1000000, 9)

In [6]:
from preprocessing import preprocess_ecommerce_data

df_clean = preprocess_ecommerce_data(df)

df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 999994 entries, 0 to 999999
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   event_time     999994 non-null  datetime64[ns, UTC]
 1   event_type     999994 non-null  object
 2   product_id     999994 non-null  int64
 3   category_id    999994 non-null  int64
 4   category_code  999994 non-null  object
 5   brand          999994 non-null  object
 6   price          999994 non-null  float64
 7   user_id        999994 non-null  int64
 8   user_session   999994 non-null  object
dtypes: datetime64[ns, UTC](1), float64(1), int64(3), object(4)
memory usage: 76.3+ MB

In [7]:
df.isnull().sum().sort_values(ascending=False)

user_session     6
event_time       0
event_type       0
product_id       0
category_id      0
category_code    0
brand            0
price            0
user_id          0
dtype: int64

In [8]:
df.describe()

         product_id   category_id           price       user_id
count  1.000000e+06  1.000000e+06  1000000.000000  1.000000e+06
mean   3.283568e+07  2.172217e+18      311.880428  5.752292e+08
std    4.187056e+07  8.479174e+16      369.086812  4.505875e+07
min    1.000978e+06  2.053014e+18        0.000000  1.046558e+08
25%    1.307331e+06  2.053014e+18       69.320000  5.296691e+08
50%    8.800773e+06  2.232732e+18      187.910000  5.738721e+08
75%    1.000111e+08  2.232732e+18      398.720000  6.210633e+08
max    1.001860e+08  2.253831e+18     2574.070000  6.354001e+08

In [9]:
df['event_type'].value_counts()

event_type
view        918022
cart         61758
purchase     20220
Name: count, dtype: int64

In [10]:
df_clean.to_csv("../data/processed/ecommerce_clean.csv", index=False)