In [3]:
import sys
from pathlib import Path
import pandas as pd

# Add src folder to Python path
sys.path.append(str(Path.cwd().parent / "src"))

from feature_engineering import create_customer_features

In [4]:

df_clean = pd.read_csv("../data/processed/ecommerce_clean.csv")
df_clean['event_time'] = pd.to_datetime(df_clean['event_time'])

In [5]:
customer_features = create_customer_features(df_clean)

customer_features.head()

,user_id,frequency,monetary,view_count,cart_count,purchase_count,unique_products,unique_categories,unique_brands,recency_days,purchase_ratio,cart_to_purchase_ratio
0,104655840,1,9.91,1,0,0,1,1,1,0,0.0,0.0
1,128968633,18,3515.87,18,0,0,18,3,5,0,0.0,0.0
2,176250879,3,1262.40,3,0,0,3,1,1,0,0.0,0.0
3,178539771,1,566.27,1,0,0,1,1,1,0,0.0,0.0
4,208005640,4,1124.23,4,0,0,4,1,3,0,0.0,0.0

In [6]:
customer_features.shape

(146441, 12)

In [7]:
customer_features.to_csv(
    "../data/processed/customer_features.csv",
    index=False
)